---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
An Astro website can go way beyond static pages - on the right platform.

Netlify supports not only [Streaming SSR](https://docs.astro.build/en/guides/server-side-rendering/#html-streaming) and fast [Edge Middleware](https://docs.astro.build/en/guides/middleware/), but also [on-demand revalidation](https://www.netlify.com/blog/cache-tags-and-purge-api-on-netlify/) and [stale-while-revalidate](https://www.netlify.com/blog/swr-and-fine-grained-cache-control/). 
Any page or data can be rebuilt only when needed, without site visitors ever getting a performance hit.
`;
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-8" />
    <!----header desing-->
    <header class="header">
        <a href="https://portfolio-khrams-wissal.netlify.app/" class="logo">Khrams wissal<span class="animate" style="--i:1;"></span> </a>

        <div class="bx bx-menu" id="menu-icon"> <span class="animate" style="--i:2;"></span> 

        </div>


 <nav class="navbar">
    <a href="https://portfolio-khrams-wissal.netlify.app/#Home" class="">Home</a>
     <a href="https://portfolio-khrams-wissal.netlify.app/#About">About</a>
      <a href="https://portfolio-khrams-wissal.netlify.app/#Eduction">Eduction &amp; Experience</a>
       <a href="https://portfolio-khrams-wissal.netlify.app/#skills">Skills</a>
        <a href="https://portfolio-khrams-wissal.netlify.app/#Contact">Contact</a>
        <span class="active-nav"></span>
        <span class="animate" style="--i:2;"></span> 

 </nav>

    </header>


    <!--home section desing--->
    <section class="home show-animate" id="Home">
        <div class="home-content">
            <h1>Hi,I'm <span>Khrams Wissal</span> </h1>
             <div class="text-animate">
                <h3>Full Stack Developer</h3>
              

             </div>
             <p>
a Full Stack Developer dedicated to building smooth, intuitive, and scalable digital products that solve real problems and deliver great user experiences.
I enjoy turning ideas into clean, efficient code and designing interfaces that people love to use.


 </p>
                <div class="btn-box">
                    <a href="https://drive.google.com/uc?export=download&amp;id=1fh3CNTQT65ynGMbgaPieNwKh5hZsYONS" class="btn">download CV</a>
                     <a href="https://portfolio-khrams-wissal.netlify.app/#ana" class="btn">Let's Talk</a>
                   
                </div>
        </div>
        <div class="home-sci">
           <a href="https://github.com/ouissalrm"><i class="bx bxl-github"></i></a>
              <a href="https://www.linkedin.com/in/wissal-khrams-a2120234b/"><i class="bx bxl-linkedin-square"></i></a>
                <a href="https://www.youtube.com/@khramswissal"><i class="bx bxl-youtube"></i></a>
              

        </div>
     <div class="home-imghover">

     </div>
    </section>
    <!--about section desing--->
    <section class="about" id="about">
        <h2 class="heading" id="About">About <span>Me</span></h2>
        <div class="about-img">
            <img src="./Document_files/wiss.png" alt="">
            <span class="circle-spain"></span>
        </div>
        <div class="about-content">
            <h3>Full Stack Developer !</h3>
            <p>My name is Khrams Wissal, a passionate full stack web developer driven by digital innovation and modern technologies.

I design and build web applications with a focus on performance, simplicity, and user experience. My approach is centered around writing clean, reliable code, understanding business needs, and delivering scalable, future-proof solutions. I also have experience working on WordPress websites and responsive web platforms.

Always eager to grow, I'm motivated by a constant desire to learn, innovate, and take on meaningful challenges. My goal is to create impactful digital products that truly make a difference.</p>
        
        </div>

    </section>


  <!-- education section design -->
<section class="education" id="education">
    <h2 class="heading">My <span id="Eduction">Education &amp; Experience</span></h2>

    <div class="education-row">
        <!-- Education Column -->
        <div class="education-column">
            <h3 class="title">Education</h3>

            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class="bx bxs-calendar"></i> 2024 - 2026</div>
                        <h3>Technicien Spécialisé | Développement Digital</h3>
                        <p>
During this training, I developed solid skills in both front-end and back-end development.
I learned how to build responsive web applications, manage databases, and work with modern technologies and frameworks.
This program also strengthened my problem-solving abilities and gave me real-world experience through practical projects and teamwork.</p>
                    </div>
                </div>
            </div>

            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class="bx bxs-calendar"></i> 2023 - 2024</div>
                        <h3>Baccalauréat - Science physique</h3>
                        <p>
Successfully completed the Baccalauréat in Physical Sciences, gaining a strong foundation in scientific principles and analytical thinking.
This academic experience sharpened my problem-solving skills and prepared me for advanced studies in digital technologies.</p>
                    </div>
                </div>
            </div>

           
        </div>

        <!-- Experience Column -->
        <div class="education-column">
            <h3 class="title">Experience</h3>

            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"> Mini projet : Application de gestion des recettes de cuisine</div>
                        <h3>Technologies : HTML, CSS, JavaScript, PHP</h3>
                        <p>Interface de saisie, modification et suppression de recettes.
Mise en place d'un système simple de gestion côté client et
serveur.</p>
                    </div>
                </div>
            </div>

            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year">Projet : Site e-commerce de vente de jus naturels</div>
                        <h3>Technologies : HTML, CSS, JavaScript, PHP</h3>
                        <p>Conception d'un site de type boutique en ligne pour vendre des jus.Ajout de fiches produits, d'un panier, et d'un système de contact dynamique</p>
                    </div>
                </div>
            </div>

            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year">Création d'un site web statique pour un centre OFPPT
</div>
                        <h3>Technologies : HTML, CSS, JavaScript</h3>
                        <p>Développement d'un site vitrine informatif pour un centre de formation. Intégration d'un design responsive et animations simples avec JavaScript</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!---skills section desing--->
<section class="skills" id="skills">
    <h2 class="heading">
        My <span>Skills</span>
    </h2>
    <section class="skills" id="skills">


  <div class="skills-container">
    <div class="skill-item">
      <img src="./Document_files/html5-original.svg" alt="HTML">
      <p>HTML</p>
    </div>
    <div class="skill-item">
      <img src="./Document_files/css3-original.svg" alt="CSS">
      <p>CSS</p>
    </div>
    <div class="skill-item">
  <img src="./Document_files/bootstrap-original.svg" alt="Bootstrap">
  <p>Bootstrap</p>
</div>
    <div class="skill-item">
      <img src="./Document_files/javascript-original.svg" alt="JavaScript">
      <p>JavaScript</p>
    </div>
    <div class="skill-item">
      <img src="./Document_files/php-original.svg" alt="PHP">
      <p>PHP</p>
    </div>
    <div class="skill-item">
      <img src="./Document_files/python-original.svg" alt="Python">
      <p>Python</p>
    </div>
      <!-- React -->
    <div class="skill-item">
      <img src="./Document_files/react-original.svg" alt="React">
      <p>React</p>
    </div>
    <div class="skill-item">
  <img src="./Document_files/mysql-original.svg" alt="MySQL">
  <p>MySQL</p>
</div>
<!-- jQuery -->
<div class="skill-item">
  <img src="./Document_files/jquery-original.svg" alt="jQuery">
  <p>jQuery</p>
</div>
    <!-- Laravel -->
    <div class="skill-item">
       <img src="./Document_files/laravel-original.svg" alt="Laravel">
      <p>Laravel</p>
    </div>
  </div>
</section>
</section>


<!-- contact section design -->
<!-- contact section design -->
<section class="Contact" id="Contact">
  <h2 class="heading" id="ana">Contact <span>Me !</span></h2>

  <form id="contact-form">
    <div class="input-box">
      <div class="input-field">
        <input type="text" name="name" placeholder="Full Name" required="">
        <span class="focus"></span>
      </div>
      <div class="input-field">
        <input type="email" name="email" placeholder="Email Address" required="">
        <span class="focus"></span>
      </div>
    </div>

    <div class="textarea-field">
      <textarea name="message" cols="30" rows="10" placeholder="Your Message" required=""></textarea>
      <span class="focus"></span>
    </div>

    <div class="btn-box btns">
      <button type="submit" class="btn">Submit</button>
    </div>

    <!-- Message de statut -->
    <p id="form-status" style="margin-top: 10px;"></p>
  </form>
</section>




<!------Footer desing--->
<footer class="footer">
    <div class="footer-text">
        <p>Copyright © 2025 By khrams wissal |All rights reserved</p>
    </div>
    <div class="footer-iconTop">
        <a href="https://portfolio-khrams-wissal.netlify.app/#"><i class="bx bxs-chevron-up"></i>

 </a>
    </div>
</footer>



    <script src="./Document_files/script.js.téléchargement"></script>

</Layout>
